extends layout
block content
    h1= title
    p(id='hid')= st
    ul
        each val, index in data
            li= index + ') ' + val.name
    form(method='post', action='/univer')
        p
            b Добавить университет
            p Универ
                - for (var x = nameOfFields.length-1; x >= 0; x--)
                    p= nameOfFields[x]
                    input(type='text', size='40', name= "#{nameOfFields[x]}" + 'OfUniver')
                    br
            div(id="items")
                p Факультет1:
                    - for (var x = schemOfFaculty.length-1; x >= 0; x--)
                        //str = schemOfFaculty[x]+' '}
                        p(id='it'+x)= schemOfFaculty[x]
                        input(type='text', size='40', name= "#{schemOfFaculty[x]}" + 'OfFaculty1')
                input(type='button', id="add", value='ЕЩЕ ФАКУЛЬТЕТОВ', onclick="Click()")

            p
                input(type='submit', value='Отправить')